html{
	background-color: darkblue;
}



#long{
  font-size: 66px;
  font-family: silom;
  color: white;
}

#lat{
  font-size: 66px;
  font-family: silom;
  color: white;
}

#sineCanvas{
	text-shadow: 0px 0px 5px red;
}