img.img{
	display: block;
	margin-top: 5vmin;
	margin-left: 10vmin;
	margin-right: auto;
	height: 200px;
	width: 50%;
	padding: 1vmin;
}


body{
	background-color: darkblue;

}

h1{
	color: white;
	margin: auto;
	text-align: left;
	padding: 10vmin;
}

p{
	color: white;
	top: 0vmin;
	margin-left: 5vmin;
	margin-right: 5vmin;
	text-align: left;
	text-indent: 10vmin;
	font-family: times;
}

p::first-letter {
  color: white;
  float: top;
  font-family: times;
  font-size: 40px;
  line-height: 40px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

}