@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes inner-circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
}

#rotator {
   width:150px;
    height:150px;
    margin:200px auto;
    font-size:10px;
    line-height:1;
    animation: circle 25s linear infinite;
    transform-origin: 50% 50%;
}

#rotator > div {
    animation: inner-circle 25s linear infinite;
    background-color:#e1e1e1;
 width:25px;
 height:25px;
}

#long{
size: 20px;
}

#test{
	background-color: red;
	height: 20vmin;
	width: 20vmin;
	animation: testan 5s linear infinite;
}


@keyframes testan {
    0% { transform:rotateX(0deg); }



    100% { transform:rotateX(-360deg); }
}